/* Blottie animation responsiveness */
.blottie-animation[data-v-0dba6a4b] {
    width: 100%;
  }
  
  .blottie-container[data-v-0dba6a4b] {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure the container doesn't overflow */
  }
  
  @media (min-width: 768px) {
    .blottie-container[data-v-0dba6a4b] {
      height: 450px;
    }
  }
  